* {
    margin: 0;
    padding: 0;
}

/* Full page center */
body {
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;      
    font-family: Arial, sans-serif;
    background-color: #f5f1f1;
}



/* Content box */
.center-box {
    text-align: center;
}

/* Styling text */
h1 {
    font-size: 58px;
    margin-bottom: 18px;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #5d5b5b;
}

/* Links */
a {
    text-decoration: none;
    font-size: 20px;
    color: #6a0dad;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}
