* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the login box */
body {
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;       
    font-family: Arial, sans-serif;
}

/* Login container */
.login-box {
    width: 450px;
    padding: 50px;
    border: 1px solid #e4dfdf;
    border-radius: 15px;
}

/* Headings */
.login-box h2 {
    margin-bottom: 15px;
    font-size: 40px;
}

/* Labels */
.login-box label {
    display: block;
    margin-top: 10px;
    font-size: 25px;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    font-size: 18px;
}

/* Button */
.login-box button {
    margin-top: 15px;
    padding: 6px 12px;
    cursor: pointer;
}

.alert {
    color: #ec4e4e;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}


.back {
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: purple;
    font-size: 18px;
}

/* Links */
.login-box a {
    margin-top: 10px;
    text-decoration: none;
    color: purple;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
}