/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page layout */
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
    justify-content: center;  
    align-items: center;      

}

/* Center the form */
.edit-profile-box {
    width: 400px;
    margin: 0 auto;              
    padding: 20px;
    border: 1px solid #ccc;
}

/* Heading */
.edit-profile-box h2 {
    margin-bottom: 15px;
}

/* Labels */
.edit-profile-box label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

/* Inputs */
.edit-profile-box input,
.edit-profile-box textarea,
.edit-profile-box select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    font-size: 16px;   
}

/* Buttons */
.edit-profile-box button {
    margin-top: 15px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}
