* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center content on page */
body {
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;       
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Profile container */
.profile-box {
    width: 520px;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Headings */
.profile-box h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.profile-box b {
    font-size: 20px;
}

/* Links */
.profile-box a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

/* Spacing lines */
.profile-box hr {
    margin: 10px 0;
}

/* Image spacing */

.profile-box img{
    width:120px;
    height:120px;
    border-radius:10px;
    object-fit:cover;
    
}
.profile-value {
    font-size: 22px;  
}
