body{
    font-family:Arial;
    margin:20px;
    font-size: 20px;
}
input,select,textarea{
    display:block;margin:6px 0;padding:6px;
}
label{
    font-weight:bold;
}

.box{
    border:1px solid #ccc;
    padding:10px;
    margin:10px;
    display:inline-block
}
.sellerDesh table{
    border-collapse:collapse
}
.sellerDesh td,th{
    padding:8px;
    border:1px solid #ccc
}


